/*
 * ==============
 * Animation for page entry 
 * =============
 */
.page-enter {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 300ms, transform 300ms;
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
}

/*
 * ==============
 * Animation for page exit 
 * =============
 */
.page-exit {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.page-exit-active {
  opacity: 0;
  transform: translateX(-100%);
}
