@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary: #0472ee;
$font_color: #ffffff;
$border_color: #dee2e6;
$font_family: 'Roboto', sans-serif;

// Dashboard
$left_width: 14%;
$right_width: 20%;
$main_width: 66%;
$header_height: 4rem;
$footer_height: 2rem;