@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$primary: #0472ee;
$font_color: #ffffff;
$border_color: #dee2e6;
// $font_family: 'Roboto', sans-serif;
$font_family: 'Poppins', sans-serif;

// Dashboard
$left_width: 12%;
$right_width: 23%;
$main_width: 65%;
$header_height: 4rem;